* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom right, #ffffff, #c4f5ff);
  padding: 1rem 3rem 3rem 3rem;
}

main {
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #logo {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 4rem;
  font-optical-sizing: auto;
  font-style: italic;
  background: linear-gradient(
    to right,
    #df4be7 0%,
    #a258fc 21%,
    #7a90ff 47%,
    #1f23ff 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.info-container {
  display: flex;
  justify-content: space-around;
}

.wpm-container {
  border-right: 1px solid black;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  font-size: 1.5rem;
  padding: 0 2rem;
  text-align: center;
}

#wpm-digit {
  font-size: 3rem;
}

.accuracy-container {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  font-size: 1.5rem;
  padding: 0 2rem;
  text-align: center;
}

#acc-digit {
  font-size: 3rem;
}

#test-sentence {
  margin-top: 3rem;
  border-bottom: 3px solid #1d9beb;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-align: center;
  padding: 1rem 0;
  opacity: 0.8;
}

#user-type {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

#user-type input {
  border: none;
  border-bottom: 3px solid #1d9beb;
  outline: none;
  background: transparent;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-align: center;
}

#toggling {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: absolute;
  bottom: 3%;
  right: 2rem;
  font-size: 1.2rem;
}

.switch-char,
.switch-sound {
  display: flex;
  align-items: center;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 4vw;
  height: 2.1vw;
  margin-left: 0.5rem;
}

.toggle-switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: rgb(204, 204, 204);
  border-radius: 5rem;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 1.8vw;
  width: 1.8vw;
  left: 0.2rem;
  top: 0.2rem;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle-switch input:checked + .slider.active {
  background: linear-gradient(to right, #7a90ff 47%, #1f23ff 100%);
}

.toggle-switch input:checked + .slider::before {
  transform: translateX(1.8vw);
}

.toggle-switch input + .slider.inactive {
  cursor: default;
  background: rgb(204, 204, 204);
}

.slider.inactive::before {
  background-color: rgb(174, 172, 172);
}

@keyframes keyBlink {
  0% {
    background-color: white;
  }
  50% {
    background-color: #a3ffa3;
  }
  100% {
    background-color: white;
  }
}

.key.active {
  animation: keyBlink 0.8s infinite;
}

#keyboard-container {
  display: flex;
  justify-content: center;
}

#keyboard {
  /* margin: 3rem auto 0 auto; */
  margin: 48px 288px 0;
  /* width: 60%; */
  width: 864px;
  /* padding: 1rem; */
  padding: 16px;
  position: relative;
}

#keyboard::before {
  content: "";
  /* border-radius: 1.5rem; */
  border-radius: 24px;
  background: linear-gradient(to right, #2ce4ff 50%, #1d9beb 80%);
  position: absolute;
  inset: 0;
  opacity: 0.5;
}

#key-row-one,
#key-row-two,
#key-row-three,
#key-row-space {
  isolation: isolate;
  display: flex;
  justify-content: center;
  /* gap: 0.8rem; */
  gap: 12.8px;
  /* margin-bottom: 0.5rem; */
  margin: 0px 0px 8px;
}

#key-row-space {
  margin-bottom: 0;
}

#space {
  /* padding: 0 10rem; */
  padding: 0 160px;
}

.key {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 3.2rem;
  height: 3.2rem; */
  width: 51.2px;
  height: 51.2px;
  background-color: white; /*#a3ffa3*/
  border: 1px solid black;
  /* border-radius: 0.5rem; */
  border-radius: 8px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

li {
  display: inline;
}

li.correct {
  color: grey;
}

li.incorrect {
  color: #d41313;
}

#cursor-container {
  position: relative;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#blink-cursor {
  animation: blink 0.8s infinite;
  position: absolute;
  color: #0004f9;
}

#reload-message {
  animation: blink 0.6s infinite;
  align-items: center;
  color: red;
  font-size: 1.5rem;
  display: none;
}

@media screen and (min-width: 1025px) and (max-width: 1365px) {
  #container #test-sentence {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
  }
  #blink-cursor {
    top: -14px;
  }
}

@media screen and (min-width: 541px) and (max-width: 1024px) {
  body {
    padding: 3rem 3rem 3rem 3rem;
  }
  header {
    position: relative;
    align-items: center;
  }
  header #logo {
    font-size: 7vw;
  }
  #reload-message {
    font-size: 3vw;
    position: absolute;
    bottom: -10vw;
    width: 100%;
    text-align: center;
  }
  .wpm-container {
    font-size: 3vw;
  }
  #wpm-digit {
    font-size: 6vw;
  }
  .accuracy-container {
    font-size: 3vw;
  }
  #acc-digit {
    font-size: 6vw;
  }
  #container {
    margin-top: 15vw;
  }

  #test-sentence {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 3rem;
  }

  #cursor-container {
    display: none;
  }

  #keyboard {
    display: none;
  }

  #toggling {
    font-size: 2.5vw;
  }

  .toggle-switch {
    width: 6vw;
    height: 3.1vw;
    margin-left: 0.5rem;
  }

  .slider::before {
    height: 2.8vw;
    width: 2.8vw;
    left: 0.2rem;
    top: 0.2rem;
  }

  .toggle-switch input:checked + .slider::before {
    transform: translateX(2.8vw);
  }
}

@media screen and (width: 1024px) {
  #keyboard {
    display: block;
  }
}

@media screen and (max-width: 540px) {
  body {
    padding: 1rem 0.5rem 0.5rem 1rem;
  }
  header {
    position: relative;
    align-items: center;
  }
  header #logo {
    font-size: 8vw;
  }
  #reload-message {
    font-size: 4vw;
    position: absolute;
    bottom: -8vw;
    width: 100%;
    text-align: center;
  }
  .wpm-container {
    font-size: 4vw;
  }
  #wpm-digit {
    font-size: 8vw;
  }
  .accuracy-container {
    font-size: 4vw;
  }
  #acc-digit {
    font-size: 8vw;
  }

  #container #test-sentence {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    line-height: 2rem;
  }

  #container #keyboard {
    display: none;
  }

  #user-type input {
    font-size: 6vw;
  }

  #cursor-container {
    display: none;
  }

  .toggle-switch {
    width: 10vw;
    height: 5.1vw;
    margin-left: 0.5rem;
  }

  .slider::before {
    height: 3.8vw;
    width: 3.8vw;
    left: 0.2rem;
    top: 0.2rem;
  }

  .toggle-switch input:checked + .slider::before {
    transform: translateX(4.8vw);
  }
}
